192.168.123.5 api
192.168.123.2 dns
{% set start_ip = 100 %}
{% for node in groups['openshift'] %}
192.168.123.{{ start_ip + groups['openshift'].index(node) }} {{ node }} etcd-{{ node.split("-")[-1] }}
{% endfor %}
